---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Contacto">

            <div class="text-3xl justify-between py-24">
                <ul class="flex flex-col justify-evenly">
                    <button id="Buttonwhatsapp" class="w-60 mx-auto justify-center " onclick= "window.open('https://wa.link/u378rh', '_blank')">
                    <li class="py-5 text-nowrap items-center flex flex-row justify-center gap-x-4">
                            <img src="whatsapp.png" alt="social media icons" class="w-12 h-12" />
                                Whatsapp
                            </li>
                    </button>

                    <button class="w-60 mx-auto justify-center" onclick= "window.open('https://www.facebook.com/enzonieto92/', '_blank')">
                    <li class="py-5 text-nowrap items-center flex flex-row justify-center gap-x-5">
                        <img src="facebook.png" alt="social media icons" class="w-12 h-12" />
                        Facebook</li>
                    </button>
        
                    <button class="w-60 mx-auto justify-center" onclick= "window.open('https://www.instagram.com/barbershopleman/', '_blank')">
                            <li class="py-5 text-nowrap items-center flex flex-row justify-center gap-x-5">
                                <img src="instagram.png" alt="social media icons" class="w-12 h-12" />
                                Instagram</li>
                    </button>
                        </ul>
            </div>
</Layout>
<style>
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    button:hover{
        text-shadow: rgb(217, 255, 0) 0px 0px 10px;
        transform: scale(1.1);
    }


</style>

