---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Barbershop Leman - Iniciar Sesión">
    <h1 class="text-3xl sm:text-2xl font-bold text-center  mb-6 sm:mb-8 px-4">Iniciar Sesión (en desarrollo)</h1>
    <div class="flex container items-center mx-auto px-4 sm:px-6">
    <form class=" flex-col items-center max-w-md mx-auto backdrop-blur-sm bg-gradient-to-t from-transparent to-yellow-300  border-black border-x-2 border-y-2 p-4 mb-4 sm:p-6 rounded-lg shadow-md">
      <label for="email" class="text-sm font-semibold mx-auto">Email</label>
      <input type="email" id="email" name="email" class="flex border border-gray-300 rounded-md" />
      <label for="password" class="text-sm font-semibold">Contraseña</label>
      <input type="password" id="password" name="password" class="flex border border-gray-300 rounded-md" />
      <button type="submit" class="w-full bg-yellow-300  py-3 px-4 rounded-md hover:bg-yellow-400  text-base sm:text-lg font-medium mt-8">Iniciar Sesión</button>
      <a href="/nuevo-usuario" class="flex justify-center mx-auto text-[13px]  font-semibold transition-colors hover:text-blue-400 mt-1">¿No tenés cuenta? Registrate acá</a>
    </form>
</div>

</Layout>