---
import Layout from "../layouts/Layout.astro"


---

<Layout title="Lista de Precios">
    <div class="container mx-auto px-4 sm:px-6">
        <div class="w-full max-w-md mx-auto text-center  bg-gradient-to-t from-transparent to-yellow-300  border-black border-x-2 border-y-2 p-4 sm:p-6 rounded-2xl shadow-md">

            <h1 class="font-bold text-2xl">Lista de Precios</h1>
            <div class="text-xl text-center flex-col justify-between py-3">
                <ul>
                    <li class="py-3 text-sm">Corte de cabello</li>
                    <li class="py-3 text-sm">$6500</li>
                    <li class="py-3 text-sm">Recorte de barba</li>
                    <li class="py-3 text-sm">$3000</li>
                    <li class="py-3 text-sm">Perfilados de cejas</li>
                    <li class="py-3 text-sm">$1500</li>
                    <li class="py-3 text-sm">Diseños Únicos</li>
                    <li class="py-3 text-sm">$1500</li>
                </ul>
        </div>
    </div>
</Layout>