---
import Layout from "../layouts/Layout.astro"

import { obtenerServicios } from '../lib/traer_lista';
const servicios = await obtenerServicios();
---


<Layout title="Barbershop Leman - Lista de Precios">
    <div class="container mx-auto py-6 px-4 sm:px-6">
        <div class="w-full max-w-md mx-auto text-center  bg-gradient-to-t from-transparent to-yellow-300  border-black border-x-2 border-y-2 p-4 sm:p-6 rounded-2xl shadow-md">

            <h1 class="font-bold text-3xl py-4">Lista de Precios</h1>
            <div class="text-md text-center flex-col justify-between py-3">
                    <ul class="space-y-2">
                      {servicios.map((servicio, index) => (
                        <li class="mx-auto pb-2">
                          {console.log("servicio " + index + ":", servicio)}
                          <span>{servicio.servicio}</span>
                          <span>${servicio.precio}</span>
                        </li>
                      ))}
                    </ul>
        </div>
    </div>
</Layout>