---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Barbershop Leman - Servicios">


    <div class="text-3xl text-center flex-col justify-between py-20">
        <ul>
            <li class="py-5 backdrop-blur-sm">Corte de cabello</li>
            <li class="py-5 backdrop-blur-sm">Recorte de barba</li>
            <li class="py-5 backdrop-blur-sm">Perfilados de cejas</li>
            <li class="py-5 backdrop-blur-sm">Diseños Únicos</li>
        </ul>
    </div>
</Layout>

<style>
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li:hover {
        opacity: 1;
        text-shadow: rgb(255, 251, 0) 0px 0px 10px;
    }
</style>