    
   <!--
      -->
      <div class="absolute flex h-full w-full -z-10">

         <img src="background-image.png" alt="background" class="bg-scroll opacity-30 blur-sm h-full w-full fixed pointer-events-none object-none" />
         <div class="bg-scroll -z-10 fixed pointer-events-none h-full w-full aspect-square blur-[200px] xs:blur-[150] bg-origin-border lg:blur-[300px] justify-center object-none mx-auto inset-0 bg-rounded-full bg-yellow-300 opacity-40">
         </div>
         
      </div>
 