<span 
class="flex text-xs opacity-100 box-border font-medium ms-4 px-2 rounded bg-blue-400 text-white ">
<slot/>
</span>

<style>
    span {
        transition-duration: 500ms;
    }
    span:hover {
        transform: scale(1.1);
    }
</style>