---
import ListaServicios from "../components/ListaServicios.astro";
const hours = Array.from({ length: 9 }, (_, i) => i + 9); // 9 AM to 5 PM
---

<form class="w-full max-w-md mx-auto bg-gradient-to-t to-yellow-300 from-transparent border-black border-x-2 border-y-2 p-4 sm:p-6 rounded-lg shadow-md">
  
  <div class="mb-4">
    <label for="name" class="block text-sm sm:text-base font-medium mb-2">Nombre completo</label>
    <input
      type="text"
      id="name"
      name="name"
      required
      class="w-full px-3 py-2 text-base border  rounded-md  focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>
  
  <div class="mb-4 ">
    <label class="block text-sm sm:text-base font-medium mb-2">Servicio</label>
    <div class="p-3 border  rounded-md">
      <ListaServicios />
    </div>
  </div>

  <div class="mb-4">
    <label for="date" class="block  text-sm sm:text-base font-medium mb-2">Fecha</label>
    <input
      type="date"
      id="date"
      name="date"
      required
      min={new Date().toISOString().split('T')[0]}
      class="w-full px-3  py-2 text-base border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 [&::-webkit-calendar-picker-indicator]:cursor-pointer [&::-webkit-datetime-edit-day-field]:p-1 [&::-webkit-datetime-edit-day-field]:rounded-full  [&::-webkit-datetime-edit-month-field]:p-1 [&::-webkit-datetime-edit-month-field]:rounded-full  [&::-webkit-datetime-edit-year-field]:p-1 [&::-webkit-datetime-edit-year-field]:rounded-full  hover:[&::-webkit-datetime-edit-fields-wrapper]:text-blue-600"
    />
  </div>

  <div class="mb-4">
    <label for="time" class="block text-sm sm:text-base font-medium mb-2">Horario</label>
    <select
      id="time"
      name="time"
      required
      class="w-full p  x-3 py-2 text-base border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option value="">Seleccionar horario</option>
      {hours.map(hour => (
        <option value={`${hour}:00`}>{`${hour}:00`}</option>
      ))}
    </select>
  </div>

  <div class="mb-4">
    <label for="notes" class="block  text-sm sm:text-base font-medium mb-2">Notas adicionales</label>
    <textarea
      id="notes"
      name="notes"
      rows="3"
      class="w-full px-3  py-2 text-base border  rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    ></textarea>
  </div>

  <button
    id="submit-form"
    type="submit"
    class="w-full bg-blue-400  py-3 px-4 rounded-md hover:bg-blue-700  text-base sm:text-lg font-medium"
  >
    Agendar Turno
  </button>
</form>

