---
import { obtenerServicios } from '../lib/traer_lista';

const hours = Array.from({ length: 9 }, (_, i) => i + 9); // 9 AM to 5 PM
const servicios = await obtenerServicios();


---

<form class="w-full max-w-md mx-auto bg-gradient-to-t from-transparent to-blue-200 border-black border-x-2 border-y-2 p-4 mb-24 sm:p-6 rounded-lg shadow-md shadow-black">
  
  <div class="mb-4">
    <label for="name" class="block text-sm sm:text-base font-medium mb-2">Nombre completo</label>
    <input
      type="text"
      id="name"
      name="name"
      required
      class="w-full px-3 py-2 text-base border  rounded-md  focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>
  
  <div class="mb-4 ">
    <label class="block text-sm sm:text-base font-medium mb-2">Servicio</label>
    <div class="items-center rounded-md">
     {servicios.map(servicio => (
        <label class="flex items-center text-sm">
          <input
            type="checkbox"
            name="service"
            required
            class="mx-3 size-3"
          />
          <span>{servicio.servicio}</span>
          </label>))}
    </div>
  </div>

  <div class="mb-4">
    <label for="date" class="block  text-sm sm:text-base font-medium mb-2">Fecha</label>
    <input
      type="date"
      id="date"
      name="date"
      required
      min={new Date().toISOString().split('T')[0]}
      class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="mb-4">
    <label for="time" class="block text-sm sm:text-base font-medium mb-2">Horario</label>
    <select
      id="time"
      name="time"
      required
      class="w-full p  x-3 py-2 text-base border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option value="">Seleccionar horario</option>
      {hours.map(hour => (
        <option value={`${hour}:00`}>{`${hour}:00`}</option>
      ))}
    </select>
  </div>

  <div class="mb-4">
    <label for="notes" class="block  text-sm sm:text-base font-medium mb-2">Notas adicionales</label>
    <textarea
      id="notes"
      name="notes"
      rows="3"
      class="w-full px-3  py-2 text-base border  rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    ></textarea>
  </div>

  <button
    id="submit-form"
    type="submit"
    class="w-full bg-blue-300  py-3 px-4 rounded-md hover:bg-blue-400  text-base sm:text-lg font-medium"
  >
    Agendar Turno
  </button>
</form>

