<footer class="text-xs text-center fixed left-0 bottom-0 justify-center py-1 w-screen items-center">
       
       
        <div class="flex items-center my-auto justify-center container text-md w-28 h-8 py-8 mx-auto">
                <ul class="flex-row items-center mx-auto">
                    <button onclick= "window.open('https://wa.link/u378rh', '_blank')">
                        <img src="whatsapp.png" alt="social media icons" class="w-6 h-6" />
                    </button>
                    
                    <button  onclick= "window.open('https://www.facebook.com/enzonieto92/', '_blank')">
                        <img src="facebook.png" alt="social media icons" class="w-6 h-6" />
                    </button>
                    
                    <button onclick= "window.open('https://www.instagram.com/barbershopleman/', '_blank')">
                        <img src="instagram.png" alt="social media icons" class="w-6 h-6" />
                    </button>
                </ul>
            </div>
        © 2024 Hecho por Enzo Matías Nieto. Todos los derechos reservados. 
</footer>

<style>

button:hover{
        box-shadow: rgb(217, 255, 0) 0px 0px 10px;
        transform: scale(1.1);
    }


</style>