
<header class="sticky w-full flex-row h-auto bg-opacity-20 justify-center backdrop-blur-sm top-0 mx-auto py-4 z-50">
  <nav class="flex mx-auto gap-x-4 justify-center">
    <a class="text-sm font-bold" href="/">Inicio</a>
    <a class="text-sm font-bold" href="/contacto">Contacto</a>
    <a class="text-sm font-bold" href="/servicios">Servicios</a>
    </nav>

</header>
  

  
<style>
    nav a:hover {
        transform:scale(1.1);
        text-shadow: rgb(217, 255, 47) 0px 0px 20px;
        opacity: 100;
    }